.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 0;
  transition: 1s ease-in;

  &:hover {
    font-size: 20px;
    font-stretch: wider;
    color: black;
  }
}

.default {
  background-color: $secondary-color;

  &:hover {
    background-color: lighten($secondary-color, 15);
  }
}

.error {
  background-color: #e4757a;

  &:hover {
    background-color: lighten(#e4757a, 15);
  }
}

.info {
  background-color: $color-one;

  &:hover {
    background-color: lighten($color-one, 15);
  }
}

.success {
  background-color: #63cc82;

  &:hover {
    background-color: lighten(#63cc82, 15);
  }
}

.warning {
  background-color: $color-two;

  &:hover {
    background-color: lighten($color-two, 15);
  }
}
